.head {
   display: flex;
   align-content: center;
   justify-content: space-between;
   height: 10vh;
   background-color: rgb(0, 0, 0);
}
.justify-content-end {
   display: flex;
   align-content: center;
}
#logo {
   padding-left: 20px;
   height: 10vh;
   background-color: rgb(0, 0, 0);
}